.coolimage {
    height: 150px;
    width: 100%;
    background-image: url(../assets/images/technology-background-1632715.jpg);
  }

  .navbarLink {
    float: right;
  }

  .navLink{
    font-size: 20px;
    color: white;
    padding: 10px
  }

  .navLink:hover{
    font-size: 20px;
    color: white;
    padding: 10px
  }

  


  .navLink-active{
    font-size: 20px;
    color: yellow;
    padding: 10px
  }

  .navLink-active:visited{
    font-size: 20px;
    color: yellow;
    padding: 10px
  }


  .spacer {
    width: 50%;
  }

  .coolimagetext {
    float: left;
    margin-top: 10px;
    background-color: aqua;
    color: var(--coolimagetext);
    padding: 10px;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
  }
